/* canvas { display: block; } */
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

html {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: black;
    background-size: cover;
}

.fadeIn {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

/* .fadeOut {
    animation: fadeOut ease 2s;
    -webkit-animation: fadeOut ease 2s;
    -moz-animation: fadeOut ease 2s;
    -o-animation: fadeOut ease 2s;
    -ms-animation: fadeOut ease 2s;
} */

#upperHolder {
    width: 100%;
}

#qr {
    display: block;
    margin: auto;
    width: 15%;
    padding: 10px;
    background-color: white;
}
#qr > img {
    /* padding-top: 10px; */
    width: 100%;
    display: block;
}

h4 {
    text-align: center;
    color: red;
}

#stage {
    display: none;
}